footer{
    background-color: black;
    width:100vw;
    bottom: 0;
    padding: 1%;
    margin-top: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}